In [1]:
list_of_numbers = [1,2,4,6,11,14,17,20]
squared_numbers = []
for number in list_of_numbers:
    squared_numbers.append(number**2)
#print(squared_numbers)
print (f"The list of squared numbers is (squared_number)")

The list of squared numbers is (squared_number)

In [2]:
squared_numbers = [number**2 for number in list_of_numbers]
print(squared_numbers)

[1, 4, 16, 36, 121, 196, 289, 400]

In [3]:
even_squared_numbers = [number**2 for number in list_of_numbers if number % 2 == 0]
print(even_squared_numbers)

[4, 16, 36, 196, 400]

In [4]:
odd_squared_numbers = [number**2 for number in list_of_numbers if number % 2 != 0]
print(odd_squared_numbers)

[1, 121, 289]

In [5]:
odd_squared_numbers = [number**2 if number%2!=0 else number**3 for number in list_of_numbers]
print(odd_squared_numbers)

[1, 8, 64, 216, 121, 2744, 289, 8000]

In [6]:
list(range(4))

[0, 1, 2, 3]

In [7]:
list_of_number = []
for num1 in range(4):
  for num2 in range(3):
    list_of_number.append(num2)
    print(list_of_number)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 0]
[0, 1, 2, 0, 1]
[0, 1, 2, 0, 1, 2]
[0, 1, 2, 0, 1, 2, 0]
[0, 1, 2, 0, 1, 2, 0, 1]
[0, 1, 2, 0, 1, 2, 0, 1, 2]
[0, 1, 2, 0, 1, 2, 0, 1, 2, 0]
[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1]
[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

In [8]:
list_of_numbers = [num2 for num1 in range(4) for num2 in range(3)]
print(list_of_numbers)

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

In [9]:
list_of_numbers = [num2**2 for num2 in range(3) for num1 in range(4)]
print(list_of_numbers)

[0, 0, 0, 0, 1, 1, 1, 1, 4, 4, 4, 4]

In [10]:
sample = [[]]
len(sample)
sample[0]

[]

In [11]:
list_of_lists = []
for num1 in range(4):
  list_of_lists.append([])
  for num2 in range(3):
    list_of_lists[num1].append(num2)
print(list_of_lists)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [12]:
list_of_lists = [[num2 for num2 in range(3)] for num1 in range(4)]
print(list_of_lists)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [13]:
list_of_lists = [[num2**2 for num2 in range(3)] for num1 in range(4)]
print(list_of_lists)

[[0, 1, 4], [0, 1, 4], [0, 1, 4], [0, 1, 4]]

In [14]:
heisenberg_quote = "It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in. I am not in danger, Skyler. I am the danger."
words_by_walter = heisenberg_quote.split(' ')
print(words_by_walter)

['It', 'ceases', 'to', 'exist', 'without', 'me.', 'No,', 'you', 'clearly', "don't", 'know', 'who', "you're", 'talking', 'to,', 'so', 'let', 'me', 'clue', 'you', 'in.', 'I', 'am', 'not', 'in', 'danger,', 'Skyler.', 'I', 'am', 'the', 'danger.']

In [15]:
heisenberg_quote.split('t')

['I',
 ' ceases ',
 'o exis',
 ' wi',
 'hou',
 " me. No, you clearly don'",
 " know who you're ",
 'alking ',
 'o, so le',
 ' me clue you in. I am no',
 ' in danger, Skyler. I am ',
 'he danger.']

In [16]:
first_letters = []
for word in words_by_walter:
  first_letters.append(word[0])
print(first_letters)

['I', 'c', 't', 'e', 'w', 'm', 'N', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'I', 'a', 'n', 'i', 'd', 'S', 'I', 'a', 't', 'd']

In [17]:
first_letters = [word[0] for word in words_by_walter]
print(first_letters)

['I', 'c', 't', 'e', 'w', 'm', 'N', 'y', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'I', 'a', 'n', 'i', 'd', 'S', 'I', 'a', 't', 'd']

In [18]:
heisenberg_quote.split(',')

['It ceases to exist without me. No',
 " you clearly don't know who you're talking to",
 ' so let me clue you in. I am not in danger',
 ' Skyler. I am the danger.']

In [19]:
my_string = 'Alphabet Inc.'
list_of_characters = [char for char in my_string]
print(list_of_characters)

['A', 'l', 'p', 'h', 'a', 'b', 'e', 't', ' ', 'I', 'n', 'c', '.']

In [20]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
tuple(day for day in days)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

In [21]:
days_without_day = tuple([day[:-3] for day in days])
print(days_without_day)

('Mon', 'Tues', 'Wednes', 'Thurs', 'Fri', 'Satur', 'Sun')

In [24]:
first_letters = set()
for word in words_by_walter:
  first_letters.add(word[0])
print(first_letters)
print(first_letters)

{'d', 'c', 'n', 'w', 'a', 't', 'e', 'l', 'N', 'i', 'y', 's', 'S', 'k', 'I', 'm'}
{'d', 'c', 'n', 'w', 'a', 't', 'e', 'l', 'N', 'i', 'y', 's', 'S', 'k', 'I', 'm'}

In [25]:
first_letters = {word[0] for word in words_by_walter}
print(first_letters)

{'d', 'c', 'n', 'w', 'a', 't', 'e', 'l', 'N', 'i', 'y', 's', 'S', 'k', 'I', 'm'}

In [28]:
country_city_list = [('India','New Delhi'),('Australia','canberra'),('United states','washington DC'),('England','London')]
country_city_dict = dict(country_city_list)
print(country_city_dict)

{'India': 'New Delhi', 'Australia': 'canberra', 'United states': 'washington DC', 'England': 'London'}

In [29]:
flipped = {}
for country, city in country_city_dict.items():
  flipped[city] = country
print(flipped)

{'New Delhi': 'India', 'canberra': 'Australia', 'washington DC': 'United states', 'London': 'England'}

In [30]:
flipped = {city:country for country, city in country_city_dict.items()}
print(flipped)

{'New Delhi': 'India', 'canberra': 'Australia', 'washington DC': 'United states', 'London': 'England'}

In [31]:
flipped = {}
for country,city in country_city_dict.items():
  flipped[city] = country
print(flipped)

{'New Delhi': 'India', 'canberra': 'Australia', 'washington DC': 'United states', 'London': 'England'}

In [32]:
flipped = {city:country for country, city in country_city_dict.items()}
print(flipped)

{'New Delhi': 'India', 'canberra': 'Australia', 'washington DC': 'United states', 'London': 'England'}

In [35]:
flipped = {city:country for country, city in country_city_dict.items() if country[0] in ['E''A']}
print(flipped)

{}

In [36]:
flipped = {country[:2] : city[-2:] for country, city in country_city_dict.items() if country[0] in ['E','A']}
print(flipped)

{'Au': 'ra', 'En': 'on'}

In [37]:
print(country_city_dict)

{'India': 'New Delhi', 'Australia': 'canberra', 'United states': 'washington DC', 'England': 'London'}