In [1]:
# consider a list of string
got_house = ['stark','Arryn','Baratheon','Tully','Greyjoy','lannister','Tyrell','Martell','Targaryen']
for house in got_house:
    print(f"house{house}")

housestark
houseArryn
houseBaratheon
houseTully
houseGreyjoy
houselannister
houseTyrell
houseMartell
houseTargaryen

In [2]:
got_house

['stark',
 'Arryn',
 'Baratheon',
 'Tully',
 'Greyjoy',
 'lannister',
 'Tyrell',
 'Martell',
 'Targaryen']

In [3]:
# using enumerate function to loop through the element of a list
for number,house in enumerate(got_house):
    print(f" The house no of house {house} is {number}")

 The house no of house stark is 0
 The house no of house Arryn is 1
 The house no of house Baratheon is 2
 The house no of house Tully is 3
 The house no of house Greyjoy is 4
 The house no of house lannister is 5
 The house no of house Tyrell is 6
 The house no of house Martell is 7
 The house no of house Targaryen is 8

In [4]:
x=1,2
x

(1, 2)

In [5]:
list(enumerate(got_house))

[(0, 'stark'),
 (1, 'Arryn'),
 (2, 'Baratheon'),
 (3, 'Tully'),
 (4, 'Greyjoy'),
 (5, 'lannister'),
 (6, 'Tyrell'),
 (7, 'Martell'),
 (8, 'Targaryen')]

In [8]:
# the list of numbers
list_of_number=[1,2,4,6,11,14,17,20]
# the list of numbers
list_of_number=[1,2,4,6,11,14,17,20]
for number in list_of_number:
  squared_number=number**2
  print(f"The square of {number} is {squared_number}")

The square of 1 is 1
The square of 2 is 4
The square of 4 is 16
The square of 6 is 36
The square of 11 is 121
The square of 14 is 196
The square of 17 is 289
The square of 20 is 400

In [10]:
list_of_number

[1, 2, 4, 6, 11, 14, 17, 20]

In [11]:
squared_number = [number]
for number in list_of_number:
  squared = number**2
  squared_number.append(squared)
  print(f"The list of squared numbers is {squared_number}")

The list of squared numbers is [20, 1]
The list of squared numbers is [20, 1, 4]
The list of squared numbers is [20, 1, 4, 16]
The list of squared numbers is [20, 1, 4, 16, 36]
The list of squared numbers is [20, 1, 4, 16, 36, 121]
The list of squared numbers is [20, 1, 4, 16, 36, 121, 196]
The list of squared numbers is [20, 1, 4, 16, 36, 121, 196, 289]
The list of squared numbers is [20, 1, 4, 16, 36, 121, 196, 289, 400]

In [13]:
print(list_of_number)
print(squared_number)

[1, 2, 4, 6, 11, 14, 17, 20]
[20, 1, 4, 16, 36, 121, 196, 289, 400]

In [14]:
zipped_dict = dict(zip(list_of_number,squared_number))
print(zipped_dict)

{1: 20, 2: 1, 4: 4, 6: 16, 11: 36, 14: 121, 17: 196, 20: 289}

In [18]:
for number in list_of_number:
  if number%2==0:
    squared_number = number**2
for number in list_of_number:
  if number%2==0:
    squared_number = number**2
    print(f"The square of {number} is {squared_number}")
  else:
    print(f"I am an odd number. My master prohibits me from printing the squares of odd numbers.Strange but okay!")

I am an odd number. My master prohibits me from printing the squares of odd numbers.Strange but okay!
The square of 2 is 4
The square of 4 is 16
The square of 6 is 36
I am an odd number. My master prohibits me from printing the squares of odd numbers.Strange but okay!
The square of 14 is 196
I am an odd number. My master prohibits me from printing the squares of odd numbers.Strange but okay!
The square of 20 is 400

In [19]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
for number in range(0,10,3):
  squared_number = number**2
  print(f"The square of {number} is {squared_number}")

The square of 0 is 0
The square of 3 is 9
The square of 6 is 36
The square of 9 is 81

In [21]:
for i in range(2,21,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

In [22]:
print(list_of_number)

[1, 2, 4, 6, 11, 14, 17, 20]

In [27]:
sum_squares=0
for number in range(1,11):
  sum_squares=0
for number in range(1,11):
  sum_squares = sum_squares + number
  print(sum_squares)
print(f"The sum of the squares of our list of numbers is {sum_squares}")

1
3
6
10
15
21
28
36
45
55
The sum of the squares of our list of numbers is 55

In [28]:
heisenberg_quote = "I am the one who knocks!"
for char in heisenberg_quote:
  print(f"The character is {char}")

The character is I
The character is
The character is a
The character is m
The character is
The character is t
The character is h
The character is e
The character is
The character is o
The character is n
The character is e
The character is
The character is w
The character is h
The character is o
The character is
The character is k
The character is n
The character is o
The character is c
The character is k
The character is s
The character is !

In [29]:
for index,char in enumerate(heisenberg_quote):
  print(f"The index is {index}and the character is {char}")

The index is 0and the character is I
The index is 1and the character is
The index is 2and the character is a
The index is 3and the character is m
The index is 4and the character is
The index is 5and the character is t
The index is 6and the character is h
The index is 7and the character is e
The index is 8and the character is
The index is 9and the character is o
The index is 10and the character is n
The index is 11and the character is e
The index is 12and the character is
The index is 13and the character is w
The index is 14and the character is h
The index is 15and the character is o
The index is 16and the character is
The index is 17and the character is k
The index is 18and the character is n
The index is 19and the character is o
The index is 20and the character is c
The index is 21and the character is k
The index is 22and the character is s
The index is 23and the character is !

In [30]:
heisenberg_quote = " It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in. I am not in danger, Skyler. I am the danger."
words_by_walter = heisenberg_quote.split(" ")
print(words_by_walter)

['', 'It', 'ceases', 'to', 'exist', 'without', 'me.', 'No,', 'you', 'clearly', "don't", 'know', 'who', "you're", 'talking', 'to,', 'so', 'let', 'me', 'clue', 'you', 'in.', 'I', 'am', 'not', 'in', 'danger,', 'Skyler.', 'I', 'am', 'the', 'danger.']

In [32]:
for word in words_by_walter:
  if word in ['I','me']:
   print(f"The word is {word}")

The word is me
The word is I
The word is I

In [33]:
days = ('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday')
for day in days:
  print(f"Today is {day}")

Today is Monday
Today is Tuesday
Today is Wednesday
Today is Thursday
Today is Friday
Today is Saturday
Today is Sunday

In [34]:
country_city_river_list = [('India','New Delhi','Ganga'),('Australia','canberra','Rovers'),('united states','washington Dc','Missouri')]
for country,city,river in country_city_river_list:
  print(f"The capital of {country} is {city} and the largest river in {country} is {river}")

The capital of India is New Delhi and the largest river in India is Ganga
The capital of Australia is canberra and the largest river in Australia is Rovers
The capital of united states is washington Dc and the largest river in united states is Missouri

In [35]:
country_city_dict={1:"India",2:"USA"}
for item in country_city_dict:
  print(item,country_city_dict[item])

1 India
2 USA

In [1]:
country_city_dict={1:"India",2:"USA"}
for item in country_city_dict:
  print(item,country_city_dict[item])

1 India
2 USA

In [3]:
for country,city in country_city_dict.items():
  print(f"The capital of {country} is {city}")

The capital of 1 is India
The capital of 2 is USA

In [4]:
for elem in {1,2,3}:
  print(elem)

1
2
3

In [5]:
x = 0
while x < 10:
  print('x is currently:',x)
  print('x is still less than 10,adding 1 to x')
  x=x+1

x is currently: 0
x is still less than 10,adding 1 to x
x is currently: 1
x is still less than 10,adding 1 to x
x is currently: 2
x is still less than 10,adding 1 to x
x is currently: 3
x is still less than 10,adding 1 to x
x is currently: 4
x is still less than 10,adding 1 to x
x is currently: 5
x is still less than 10,adding 1 to x
x is currently: 6
x is still less than 10,adding 1 to x
x is currently: 7
x is still less than 10,adding 1 to x
x is currently: 8
x is still less than 10,adding 1 to x
x is currently: 9
x is still less than 10,adding 1 to x

In [19]:
x = 0
while x < 5:
  print('x is currently :',x)
  print('x is still less than 5,adding 1 to x')
  x=x+1
else:
  print('All done!')

x is currently : 0
x is still less than 5,adding 1 to x
x is currently : 1
x is still less than 5,adding 1 to x
x is currently : 2
x is still less than 5,adding 1 to x
x is currently : 3
x is still less than 5,adding 1 to x
x is currently : 4
x is still less than 5,adding 1 to x
All done!